<app-main-nav>

    <div class="container">

        <mat-card>
            <mat-card-content>
                <h2 class="example-h2">Selectati din optiunile de mai jos </h2>
                <br>
                <section class="example-section">
                    <label class="example-margin">Categorie Medicament:</label>
                    <mat-select matNativeControl [(ngModel)]="tipCautat" (ngModelChange)="filtruMedicamente()">
                        <mat-option class="example-margin" value="sirop">Sirop</mat-option>
                        <mat-option class="example-margin" value="comprimate">Comprimate</mat-option>
                        <mat-option class="example-margin" value="injectabil">Injectabil</mat-option>
                        <mat-option class="example-margin" value="crema">Crema</mat-option>
                        <mat-option class="example-margin" value="picaturi">Picaturi</mat-option>
                        <mat-option class="example-margin" value="plic cu pulbere">Plic cu pulbere</mat-option>
                        <mat-option class="example-margin" value="perfuzie">Perfuzie</mat-option>
                    </mat-select>
                </section>
                <br>
                <section class="example-section">
                    <label class="example-margin">Dupa tipul medicamentelor :</label>
                    <mat-select matNativeControl [(ngModel)]="categorie" (ngModelChange)="filtruMedicamente()">
                        <mat-option class="example-margin" value="reteta">Reteta</mat-option>
                        <mat-option class="example-margin" value="reteta restrictiva">Reteta restrictiva</mat-option>
                        <mat-option class="example-margin" value="reteta speciala">Reteta speciala</mat-option>
                        <mat-option class="example-margin" value="fara prescriptie">Fara prescriptie</mat-option>
                    </mat-select>
                </section>
                <br>
                <section class="example-section">
                    <label class="example-margin">Dupa Substanta Activa:</label>
                    <mat-select matNativeControl [(ngModel)]="substanta" (ngModelChange)="filtruMedicamente()">
                        <mat-option class="example-margin" value="Paracetamol">Paracetamol</mat-option>
                        <mat-option class="example-margin" value="Codeina">Codeină</mat-option>
                        <mat-option class="example-margin" value="Butamirat">Butamirat</mat-option>
                        <mat-option class="example-margin" value="Oxeladină">Oxeladină</mat-option>
                        <mat-option class="example-margin">Alta optiune</mat-option>
                    </mat-select>
                </section>
                <div style="width:30%; margin-left: 15%;">
                    <input class="form-control" type="search" id="search1" mdbInput [(ngModel)]="subst" placeholder="Intoduceti alta substanta" (keyup.enter)="filtruMedicamente()">
                </div>
                <br>
                <section class="example-section">
                    <label class="example-margin">Clasificare Anatomo Terapeutica Chimica(ATC):</label>
                    <mat-form-field ng-submit="filtruMedicamente()">
                        <mat-label>ATC</mat-label>
                        <mat-select [formControl]="atcControl">
                            <mat-option>-- None --</mat-option>
                            <mat-optgroup *ngFor="let group of atcGroups" [label]="group.name" [disabled]="group.disabled">
                                <mat-option *ngFor="let category of group.category" [value]="category.value">
                                    {{category.viewValue}}
                                </mat-option>
                            </mat-optgroup>
                        </mat-select>
                    </mat-form-field>
                </section>
                <br>
                <section class="example-section">
                    <label class="example-margin">Dupa Popularitate:</label>
                    <mat-select matNativeControl [(ngModel)]="popularitate" (ngModelChange)="filtruMedicamente()">
                        <mat-option class="example-margin" value="cunoscute">Cele mai cunoscute</mat-option>
                        <mat-option class="example-margin" value="necunoscute">Cele mai putin cunoscute</mat-option>

                    </mat-select>
                </section>

                <section class="example-section">
                    <label class="example-margin">Ordonare Alfabetica:</label>
                    <mat-select matNativeControl [(ngModel)]="ordonare" (ngModelChange)="filtruMedicamente()">
                        <mat-option class="example-margin" value="1">A-Z</mat-option>
                        <mat-option class="example-margin" value="0">Z-A</mat-option>
                    </mat-select>
                </section>
                <br>
                <section class="buton-search">

                    <button mat-raised-button color="primary" (click)="preiaRezultate2()">Cauta Medicamente</button> s
                </section>
            </mat-card-content>
        </mat-card>

        <div *ngIf="parsatArray==='Setati filtrele pentru a afisa medicamente!'">
            <p style="text-align: center; font-size: large; padding: 10px;">Completati pentru a primi informatii!</p>
        </div>
        <div *ngIf="parsatArray==='Nu am gasit medicament pentru cerintele userului'">
            <p>Nu sunt elemente..</p>
        </div>
        <div style="margin-bottom: 300px;">
            <mat-accordion *ngIf="parsatArray.length!==0">
                <mat-list role="list" *ngFor="let med of parsatArray">
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                {{med.Denumire_comerciala}}
                            </mat-panel-title>

                        </mat-expansion-panel-header>
                        <mat-list>
                            <p><b>Actiune terapeutica:</b> {{med.Actiune_terapeutica}}</p>
                            <p><b>Substante active:</b> {{med.Substante_active}}</p>
                            <p><b>Contraindicatii:</b> {{med.Contraindicatii}}</p>
                            <p><b>Indicatii terapeutice:</b> {{med.Indicatii_terapeutice}}</p>
                            <p><b>Pentru ce se utilizeaza:</b> {{med.Pentru_ce_se_utilizeaza}}</p>
                            <p><b>Nu luati daca:</b> {{med.Inainte_de_utilizare}}</p>
                            <p><b>Mod de administrare:</b> {{med.Mod_de_administrare}}</p>
                            <p><b>Pastrarea medicamentului:</b> {{med.Pastrare}}</p>

                        </mat-list>

                    </mat-expansion-panel>

                </mat-list>
            </mat-accordion>

            <mat-card class="noResults" *ngIf="parsatArray.length===0">
                <p class="noResultsText">Ne pare rău, dar în acest moment nu există recomandări specifice problemei dumneavoastră
                </p>
            </mat-card>
        </div>

    </div>

    <footer>
        <app-footer></app-footer>
    </footer>

</app-main-nav>