
.boli{
  margin-top:100px;
}

.container{
  min-height:100%;
  text-align: right;
  background-image: url('https://www.metropolitan-hospital.gr/images/slideshow/slide-en/excellence-medical-tourism.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

  max-width: 100%;
}

/* .container .buton
{
  font-size: medium;

  display: inline-flex;
  
  width:10%;
  max-width:10%;
  margin-left:10%;
  margin-right:10%;
} */

.buton{
  
  font-size: medium;
  margin-right:45%;
  display: inline-flex;
  flex-direction: column;
}