

<body>

<div class="container">
  <div class="box">
    <div class="icon"><i class="fa fa-newspaper-o" aria-hidden="true">
    </i></div>
    <div class="content">
      <h3>Noutăți</h3>
      <p>Cele mai recente informații din domeniul sănătății</p>
      <div class="example-button-row">
        <a mat-stroked-button href="http://www.ms.ro/noutati/">Vezi aici</a>
      </div>

    </div>
  </div>
  <div class="box">
    <div class="icon"><i class="fa fa-stethoscope" aria-hidden="true">
    </i></div>
    <div class="content">
      <h2>Sănătate</h2>
      <p style="padding-left: 10px;">Cele mai recente descoperiri medicale</p>
      <br>
      <div class="example-button-row">
        <a mat-stroked-button href="https://www.libertatea.ro/stiri/cele-mai-mari-8-descoperiri-medicale-ale-anului-2019-2845075">Vezi aici</a>
      </div>
    </div>
  </div>
  <div class="box">
    <div class="icon"><i class="fa fa-map-marker" aria-hidden="true">
    </i>
    </div>
    <div class="content">
      <h3>Farmacii</h3>
      <p>Află unde se găsește cea mai apropiată farmacie </p>
      <div class="example-button-row">

       <a mat-stroked-button href="https://www.google.com/maps/d/embed?mid=1Qg8pKO6OOZIqbmMt2PtyrfOtt0G_obD-&hl=ro">Vezi harta
        <!-- <iframe  src="https://www.google.com/maps/d/embed?mid=1Qg8pKO6OOZIqbmMt2PtyrfOtt0G_obD-&hl=ro" >
        </iframe> -->
      </a>
      </div>
    </div>
  </div>

</div>
</body>




