<app-main-nav>
    <div class="container">
        <mat-form-field class="sameline" appearance="outline">
            <mat-label>
                Specializare
            </mat-label>
            <mat-select matNativeControl [(ngModel)]="name" (ngModelChange)="searchSpec()">
              <mat-option value={{aSpec.name}} *ngFor="let aSpec of allSpecializations;">
                {{aSpec.name}}
              </mat-option>
            </mat-select>
        </mat-form-field>
        
        <mat-form-field>
            <mat-label> Sorteaza </mat-label>
            <mat-select matNativeControl [(ngModel)]= "sortare" (ngModelChange)="filterSpecs()">
                <mat-option value="Nume ( A - Z )">Nume ( A - Z )</mat-option>
                <mat-option value="Nume ( Z - A )">Nume ( Z - A )</mat-option>
            </mat-select>
        
        </mat-form-field>
        
        <mat-card class="list-spec" *ngFor="let spec of specializations; let i = index" [class.active]="i == currentIndex" (click)="setActiveSpec(spec, i)">
            <mat-card-title>
                {{ spec.name }}
            </mat-card-title>
            <mat-card-content>
                <p>
                    {{ spec.description }}
                </p>
            </mat-card-content>
        </mat-card>

    </div>
    <footer>
        <app-footer></app-footer>
    </footer>
</app-main-nav>