<app-main-nav>

  <div class="container">
    <mat-card class="card">
      <form>
        <div class=" tab">

          <p>Aparatul sau sistemul asupra căruia solicitati medicamentatie:</p>
          <mat-form-field>
            <mat-select placeholder="Selectati doar una*" name="body_part" (selectionChange)="simtomsChangeAction(bodyPart)" [(ngModel)]="bodyPart" [(value)]="parteaAleasa">
              <mat-option *ngFor="let part of parts" [value]="part.partName" >{{ part.partName }}</mat-option>
            </mat-select>
          </mat-form-field><br>

          <p>Simptome manifestate:</p>
          <mat-form-field>
            <mat-select [formControl]="simptoms" multiple placeholder="Selectati una sau mai multe*" name="simptoms" [(ngModel)]="simptome" [(value)]="sAles">
              <mat-option *ngFor="let simtom of simtomsList" [value]="simtom">{{ simtom }}</mat-option>
            </mat-select>
          </mat-form-field>
          <br>

          <p>Forma medicamentoasa dorita:</p>
          <mat-form-field>
            <mat-select [formControl]="forms" multiple placeholder="Selectati una sau mai multe*" name="format_med" [(ngModel)]="formatMed" [(value)]="fAleasa">
              <mat-option *ngFor="let format of formatsMed" [value]="format">{{ format }}</mat-option>
            </mat-select>
          </mat-form-field>



          <p>Ati selectat:  {{bodyPart}}
            <br>Manifestand urmatoarele simptome:  {{simptome}}
            <br> Dorind medicamentul sub forma de:  {{formatMed}}

          </p>
          <br>

          <button  mat-flat-button color="primary" type="submit" class ="btn-primary" color="primary" (click)="preiaRezultate()">Trimite</button>


        </div>
      </form>
    </mat-card>

    <div *ngIf="parsatArray==='Setati filtrele pentru a afisa medicamente!'">
      <p style="text-align: center; font-size: large; padding: 10px;">Completati toate campurile pentru a primi informatiile dorite!</p>
    </div>

    <div *ngIf="parsatArray==='Nu am gasit medicament pentru cerintele userului'">
      <p>Nu sunt elemente..</p>
    </div>
    <div *ngIf="parsatArray==='Nu ati introdus informatiile cerute!'">
      <p>Introduceti toate informatiile!</p>
    </div>

    <div style="margin-bottom: 150px;">
      <mat-accordion *ngIf="parsatArray.length!==0" >
        <mat-list role="list" *ngFor="let med of parsatArray">
          <mat-expansion-panel >
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{med.Denumire_comerciala}}
              </mat-panel-title>

            </mat-expansion-panel-header>
            <mat-list>
              <p><b>Actiune terapeutica:</b>  {{med.Actiune_terapeutica}}</p>
              <p><b>Substante active:</b>  {{med.Substante_active}}</p>
              <p><b>Contraindicatii:</b>  {{med.Contraindicatii}}</p>
              <p><b>Indicatii terapeutice:</b>  {{med.Indicatii_terapeutice}}</p>
              <p><b>Pentru ce se utilizeaza:</b>  {{med.Pentru_ce_se_utilizeaza}}</p>
              <p><b>Nu luati daca:</b>  {{med.Inainte_de_utilizare}}</p>
              <p><b>Mod de administrare:</b>  {{med.Mod_de_administrare}}</p>
              <p><b>Pastrarea medicamentului:</b>  {{med.Pastrare}}</p>

            </mat-list>

          </mat-expansion-panel>

        </mat-list>
      </mat-accordion>

      <mat-card class="noResults" *ngIf="parsatArray.length===0" >
        <p class="noResultsText">Ne pare rău, dar în acest moment nu există recomandări specifice problemei
          dumneavoastră</p>
      </mat-card>
    </div>



  </div>
  <footer>
    <app-footer></app-footer>
  </footer>
</app-main-nav>
