<app-main-nav>
    <div class="login">
        <div style="min-height: 100vh" fxLayout="row" fxLayoutAlign="center center">
            <div class="medium-list" fxFlex="25%">
                <div class="buttons">
                    <button mat-flat-button color="primary" style="padding: 7px;width: 200px;margin-left: 3px; font-size: large;" routerLink="/register" class="divider">Inregistrare</button>
                    <button mat-flat-button color="primary" style="padding: 7px;width: 200px;margin-left: 3px; font-size: large;" routerLink="/login" class="divider">Logare</button>
                </div>
                <mat-card>
                    <div class="title">
                        <mat-card-header>
                            <mat-card-title style="font-size: 25px;text-align: center; margin-bottom: 30px;">Inregistrare</mat-card-title>
                        </mat-card-header>
                    </div>

                    <mat-card-content>
                        <form [formGroup]="registerForm" (ngSubmit)="registerForm.valid && onRegisterSubmit()" novalidate>
                            <div class="form-container">
                                <mat-form-field>
                                    <input id="email" matInput formControlName="email" [(ngModel)]="user.email" placeholder="Email" />
                                    <mat-error *ngIf="registerForm.get('email').hasError('required') && (registerForm.get('email').dirty || registerForm.get('email').touched)">Enter a valid e-mail adress</mat-error>
                                </mat-form-field>
                                <mat-form-field>
                                    <input id="username" matInput formControlName="username" [(ngModel)]="user.username" placeholder="Username" />
                                    <mat-error *ngIf="registerForm.get('username').hasError('required') && (registerForm.get('username').dirty || registerForm.get('username').touched)">Enter a valid username</mat-error>
                                </mat-form-field>
                                <mat-form-field>
                                    <input id="password" matInput formControlName="password" [(ngModel)]="user.password" placeholder="Password" [type]="hide ? 'password':'text'" />
                                    <mat-error *ngIf="registerForm.get('password').hasError('minlength') && (registerForm.get('password').dirty || registerForm.get('password').touched)">Password is too short</mat-error>
                                    <mat-error *ngIf="registerForm.get('password').hasError('maxlength') && (registerForm.get('password').dirty || registerForm.get('password').touched)">Password is too long</mat-error>
                                    <mat-error *ngIf="registerForm.get('password').hasError('required') && (registerForm.get('password').dirty || registerForm.get('password').touched)">Enter a valid password</mat-error>
                                    <mat-icon matSuffix (click)="hide = !hide">
                                        {{hide ? 'visibility' : 'visibility_off'}}
                                    </mat-icon>
                                </mat-form-field>
                                <mat-form-field>
                                    <input id="cpassword" matInput formControlName="cpassword" [(ngModel)]="user.cpassword" placeholder="Confirm Password" [type]="hide ? 'password':'text'" />
                                    <mat-error *ngIf="registerForm.get('cpassword').hasError('notSame')">Passwords do not match!</mat-error>
                                    <mat-icon matSuffix (click)="hide = !hide">
                                        {{hide ? 'visibility' : 'visibility_off'}}
                                    </mat-icon>
                                </mat-form-field>

                                <button mat-flat-button color="primary" type="submit" style="margin-left: 25%;width: 50%;margin-bottom: 10px; margin-top: 10px;font-size: large;">Trimite</button>

                            </div>
                        </form>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>
    <footer>
        <app-footer></app-footer>
    </footer>
</app-main-nav>